
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-div{
    background-color: #F0F4F9;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mt-card{
    height: 360px;
    width: 70%;
    border-radius: 20px;
}

.mt-card-content{
    display: flex;
    justify-self: center;
    flex-direction: column;
    // border-color: aquamarine;    
    padding: 40px;
    height: 100%;
    width: 100%;
}

.g-logo{
    height: 30%;
    width: 100%;
    // background-color: aquamarine;
    display: flex;
    align-items: center;
}

.g-logo img{
    height: 48px;
    width: 48px;
}

.main-content{
    height: 70%;
    width: 100%;
    // background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.c-left{
    width: 50%;
}

.c-left h1{
    font-size: 31px;
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    color: var(--gm3-sys-color-on-surface, #1f1f1f);
    letter-spacing: .3px;
    font-weight: var(--c-tfwt, 400);
    color-scheme: light;
}

.c-left h6{
    color: var(--gm3-sys-color-on-surface, #1f1f1f);
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: var(--c-stfwt, 400);
    color-scheme: light;
    line-height: 1.5;
    font-size: 14px;
}

.c-right{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}

.c-right-d1{
    display: flex;
    flex-direction: column;
}
.c-right-d1 input{
}

.mt-psw-hint{
    margin-left: -20px;
    color: #4a6fd1;
}

.c-right-d3{
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -50px;
}
.btn-create{
    font-size: 12.5px;
    font-weight: 700;
    color: #4a6fd1;
}
.btn-next{
    background-color: darkblue;
    border-radius: 20px;
    margin-left: 40px;
}

.footer{
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 5px;
    padding: 0px 10px;
    background-color: #F0F4F9;
}

.ft-d2{
    display: flex;
    gap: 30px;
}

.ft-d1-select{
    height: 30px;
    width: fit-content;
    background-color: #F0F4F9;
    border: none;
    color: rgb(73, 73, 73);
}

.ft-d2 button{
    border-radius: 8px;
    color: rgb(73, 73, 73);
    font-family: "Google Sans", roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.00625rem;
    line-height: 1.3333333333;
    outline: none;
    padding: 8px 12px;
    text-decoration: none;
}




